<div class="address">
<h2>住所情報登録</h2>

<%= form_for @address do |f| %>
  <%= render "devise/shared/error_messages", resource: @address %>

  <div class="field">
    <div>郵便番号</div>
    <%= f.text_field :postal_code,placeholder:"ハイフン込みで入力" %>
  </div>
  <div class="field">
    <div>都道府県</div>
    <%= f.collection_select(:prefecture_id,Prefecture.all,:id, :name, {}, {class:"prefecture-select"})%>
  </div>
  
  <div class="field">
    <div>市区町村</div>
    <%= f.text_field :city,placeholder:"例）中央区銀座" %>
  </div>
  <div class="field">
    <div>番地</div>
    <%= f.text_field :addresses,placeholder:"例）X-X-X" %>
  </div>
  <div class="field">
    <div>建物名</div>
    <%= f.text_field :building,placeholder:"例）○○ビル○○号室" %>
  </div>

  <div class="field">
    <div>電話番号</div>
    <%= f.text_field :phone_number,placeholder:"ハイフンなし" %>
  </div>
  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>
</div>