<%=render "shared/address"%>

<div class="purchase_history">
 <h2>ご購入履歴</h2>
    <div class="item_history">
  <%@orders.each do |order| %>
    <div class="history-info">
    <%=image_tag order.item.image,class:"item-img"%>
      <div class="item-name">【商品名】<%=order.item.name%></div>
      <div class="item-prefecture">【生産地】<%=order.item.prefecture.name%>産</div>
      <div class="item-manufacturer">【生産者】<%=order.item.manufacturer%></div>
      <div class="item-manufacturer">【商品の種類】<%=order.item.condition.name%></div>
      <div class="item-internal-capacity">【内容量】<%=order.item.internal_capacity%>Kg</div>
      <div class="item-price">【販売価格】<%=order.item.price%>円(送料込み)</div>
      <div class="item-delivery-date">【購入日】<%=I18n.l order.created_at%></div>
      <div class="rebuy">
        <%=link_to "もう一度購入する","#"%>
      </div>
    </div>
  <% end %>
  </div>
</div>
<%=render "shared/footer"%>