  <div class="category">
    <div class="left-contents">
      <div class="topic-title"><h2>トピック</h2>
        <ul >
          <li class="colum">
          <%= link_to("米ナビ",page_path("about"),class: "colum-link")%>
          </li>
          <li class="colum">
          <%= link_to("日本のお米事情",page_path("about2"),class: "colum-link")%>
          </li>
          <li class="colum">
          <%= link_to("生産者","#",class: "colum-link")%>
          </li>
        </ul>
      </div>
      <div class="category-title"><h2>各商品一覧</h2>
          <ul >
            <li class="colum">
            <%= link_to "白米",topics_path,class: "colum-link"%>
            </li>
            <li class="colum">
            <%= link_to("玄米",brown_rice_topics_path,class: "colum-link")%>
            </li>
            <li class="colum">
            <%= link_to("もち米",sticky_rice_topics_path,class: "colum-link")%>
            </li>
            <li class="colum">
            <%= link_to("酒粕",sake_lees_topics_path,class: "colum-link")%>
            </li>
          </ul>
      </div>
    </div>
   <div class="right-contens">
    <%#<h2 class="popularity-index">新着商品</h2>%>
    <ul class="item-lists">
      <% @item.each do |item|%>
        <li class="list">
        <%=link_to item_path(item.id) do%>
          
          <%=image_tag item.image,class:"item-img"%>
        
        <%end%>
        <div class="item-index">
          
          <div class="item-name">【商品名】<%=item.name%></div>
          
          <div class="item-prefecture">
            【生産地】<%=item.prefecture.name%>産
          </div>
          
          <div class="item-manufacturer">
            【生産者】<%=item.manufacturer%>
          </div>
          
          <div class="item-internal-capacity">
            【内容量】<%=item.internal_capacity%>Kg
          </div>
          <div class="item-delivery-date">
            【発送までの日数】<%=item.delivery_date.name%>
          </div>
          
          <div class="item-price">
            【販売価格】<%=item.price%>円(送料込み)
          </div>
       </div>
      </li>
     <%end%>
    </ul>
   </div>
  </div>