<header>
  <div class="heading">
    <%=link_to"米ナビ","/",class:"heading-title"%>
  </div>
  <div class="navbar">
    <ul class="nav-lists">
    <%if user_signed_in? %>
      <li><%=link_to "#{current_user.first_name}",user_path,class:"user-name"%></li>
      <li><%=link_to "ログアウト",destroy_user_session_path, method: :delete,class:"logout"%></li>
      <% if current_user.admin? %>
      <li><%=link_to "出品する",new_item_path,class: "exhibit"%></li>
      <li><%=link_to "新着情報投稿",new_news_path,class: "header-news"%></li>
        <% end %>
      <%else%>
      <li><%=link_to "ログイン",new_user_session_path,class:"login"%></li>
      <li><%=link_to "新規登録",new_user_registration_path,class:"sign-up"%></li>
    <%end%>
    </ul>
  </div>

</header>
