<%=render "shared/header"%>
<%=render "shared/second_header"%>
<div class="main">
  <div class="question-contents">
    <h2 class="title">毎日お米を食べよう！</h2>
    <ul class="question-lists">
      <li class="left-list"><%=image_tag"question2.jpg",class:"list-pict"%></li>
      <li class="right-list"><%=image_tag"question4.jpg",class:"list-pict"%></li>
      
    </ul>
  </div>
  <div class="new-info">
    <h2 class="info">令和２年度 新米速報</h2>
      <ul class="messages">
        <li class="message">
        <div class="date">2020.10.1</div>
        <div>新米出荷しました</div>
        </li>
        <li class="message">
        <div class="date">2020.10.1</div>
        <div>新米出荷しました</div>
        </li>
        <li class="message">
        <div class="date">2020.10.1</div>
        <div>新米出荷しました</div>
        </li>
        <li class="message">
        <div class="date">2020.10.1</div>
        <div>新米出荷しました</div>
        </li>
      </ul>
  </div>
  <div class="category">
    <div classa="left-contents">
      <div class="topic-title"><h2>トピック</h2>
        <ul >
          <li class="colum">
          <%= link_to("このサイトについて書く","#",class: "colum-link")%>
          </li>
          <li class="colum">
          <%= link_to("日本のお米事情","#",class: "colum-link")%>
          </li>
          <li class="colum">
          <%= link_to("生産者","#",class: "colum-link")%>
          </li>
        </ul>
      </div>
      <div class="category-title"><h2>商品一覧</h2>
        <ul >
            <li class="colum">
            <%= link_to("白米","#",class: "colum-link")%>
            </li>
            <li class="colum">
            <%= link_to("玄米","#",class: "colum-link")%>
            </li>
            <li class="colum">
            <%= link_to("もち米","#",class: "colum-link")%>
            </li>
            <li class="colum">
            <%= link_to("酒粕","#",class: "colum-link")%>
            </li>
          </ul>
        </div>
    </div>
   <div class="right-contens">
    <h2 class="popularity-index">人気の商品一覧</h2>
    <ul class="item-lists">
      <li class="list"><%=link_to "#" do%>
        <div class="item-img-content">
        <%=image_tag "question1.jpg",class:"item-img"%>
        </div>
       <%end%>
        <div class="item-info">
        <h3 class="item-name"><%="生産者名"%></h3>
        <div class="item-price">
        <%="900"%>円(送料込み)
        </div>
        </div>
      </li>
    </ul>
   </div>
  </div>
</div>