<div class="news-show">
  <div class="left-contents">
      <div class="topic-title"><h2>トピック</h2>
        <ul >
          <li class="colum">
          <%= link_to("米ナビ",page_path("about"),class: "colum-link")%>
          </li>
          <li class="colum">
          <%= link_to("日本のお米事情",page_path("about2"),class: "colum-link")%>
          </li>
          <li class="colum">
          <%= link_to("生産者","#",class: "colum-link")%>
          </li>
        </ul>
      </div>
      <div class="category-title"><h2>商品一覧</h2>
          <ul >
            <li class="colum">
            <%= link_to("白米","#",class: "colum-link")%>
            </li>
            <li class="colum">
            <%= link_to("玄米","#",class: "colum-link")%>
            </li>
            <li class="colum">
            <%= link_to("もち米","#",class: "colum-link")%>
            </li>
            <li class="colum">
            <%= link_to("酒粕","#",class: "colum-link")%>
            </li>
          </ul>
      </div>
    </div>
    <div class="news-right">
      <h2 class="info">新着速報</h2>
      <div class="news-right-box">
        <div class=new-info-title>
          <%=@new.title%>
        </div>
        <%=image_tag @new.image,class:"new-img" %>
        <div class="new-info-text">
          <%=@new.text%>
        </div>
        <div class="new-user-name">生産者：
          <%="#{@new.user.first_name}" + "#{@new.user.last_name}"%>
        </div>
      </div>
    </div>





</div>
<%=render "shared/footer"%>