<div class="about">
  <div class="about-left">
  <div class="about-left-box">
      <div class="topic-title"><h2>トピック</h2>
        <ul >
          <li class="colum">
          <%= link_to_unless_current("このサイトについて書く",page_path("about"),class: "colum-link")%>
          </li>
          <li class="colum">
          <%= link_to_unless_current("日本のお米事情",page_path("about2"),class: "colum-link")%>
          </li>
          <li class="colum">
          <%= link_to_unless_current("生産者","#",class: "colum-link")%>
          </li>
        </ul>
      </div>
      <div class="category-title"><h2>商品一覧</h2>
        <ul >
            <li class="colum">
            <%= link_to_unless_current("白米","#",class: "colum-link")%>
            </li>
            <li class="colum">
            <%= link_to_unless_current("玄米","#",class: "colum-link")%>
            </li>
            <li class="colum">
            <%= link_to_unless_current("もち米","#",class: "colum-link")%>
            </li>
            <li class="colum">
            <%= link_to_unless_current("酒粕","#",class: "colum-link")%>
            </li>
          </ul>
        </div>
    </div>
  </div>
  <div class="about-right">
    <div class="about-right-box">
      <h2 class="about-right-title">米ナビについて</h2>
      <%=image_tag "about.jpg",class:"about-image"%>
      <div class="text">あああああああああああああああああああああああ ああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ
      </div>
    </div>
  </div>
</div>
<%=render "shared/footer"%>
