<div class="about">
  <div class="about-left">
  <div class="about-left-box">
      <div class="topic-title"><h2>トピック</h2>
        <ul >
          <li class="colum">
          <%= link_to_unless_current("このサイトについて書く",page_path("about"),class: "colum-link")%>
          </li>
          <li class="colum">
          <%= link_to_unless_current("日本のお米事情",page_path("about2"),class: "colum-link")%>
          </li>
          <li class="colum">
          <%= link_to_unless_current("生産者","#",class: "colum-link")%>
          </li>
        </ul>
      </div>
      <div class="category-title"><h2>商品一覧</h2>
        <ul >
            <li class="colum">
            <%= link_to_unless_current("白米","#",class: "colum-link")%>
            </li>
            <li class="colum">
            <%= link_to_unless_current("玄米","#",class: "colum-link")%>
            </li>
            <li class="colum">
            <%= link_to_unless_current("もち米","#",class: "colum-link")%>
            </li>
            <li class="colum">
            <%= link_to_unless_current("酒粕","#",class: "colum-link")%>
            </li>
          </ul>
        </div>
    </div>
  </div>
  <div class="about-right">
    <div class="about-right-box">
      <h2 class="about-right-title">米ナビについて</h2>
      <%=image_tag "about.jpg",class:"about-image"%>
      <div class="text">皆さんは、普段からお米を食べていますか？近年、日本の食卓からお米が消えつつあります。特に若い世代での米離れは顕著です。その背景には短時間で調理が済むパンやパスタの普及や、ダイエットによる糖質の制限などがあります。日本人の米離れは、お米農家さんに深刻な影響を与えてしまいます。また、昨今の新型コロナウィルスの影響もありさらに苦しい状況に立たされております。私自身も、飲食店で料理人として働いており、苦しい状況立たされ、食に携わる方々のこのお気持ちも理解できる面と、それと共に日本人の米離れ問題の二つの問題を打破したく、このようなウェブサイトを立ち上げました。本サイトにおいては、日本の米事情につての解説や、実際に農家の方から出品されたお米を通信販売として皆様にお届けできるような仕様になっております。皆様にはお米に対して少しでも興味や関心を持っていただき、一緒に日本の食について考えていきたいと思っております。
      </div>
    </div>
  </div>
</div>
<%=render "shared/footer"%>
