<div class="about2">
  <div class="left-contents">
      <div class="topic-title"><h2>トピック</h2>
        <ul >
          <li class="colum">
          <%= link_to("米ナビ",page_path("about"),class: "colum-link")%>
          </li>
          <li class="colum">
          <%= link_to("日本のお米事情",page_path("about2"),class: "colum-link")%>
          </li>
          <li class="colum">
          <%= link_to("生産者","#",class: "colum-link")%>
          </li>
        </ul>
      </div>
      <div class="category-title"><h2>カテゴリー</h2>
          <ul >
            <li class="colum">
            <%= link_to "白米",topics_path,class: "colum-link"%>
            </li>
            <li class="colum">
            <%= link_to("玄米",brown_rice_topics_path,class: "colum-link")%>
            </li>
            <li class="colum">
            <%= link_to("もち米",sticky_rice_topics_path,class: "colum-link")%>
            </li>
            <li class="colum">
            <%= link_to("酒粕",sake_lees_topics_path,class: "colum-link")%>
            </li>
          </ul>
      </div>
    </div>
  <div class="about-right">
    <div class="about-right-box">
      <h2 class="about-right-title">日本のお米事情</h2>
      <div class="text">高度経済成長期真っただ中の1962年度、日本人1人当たりコメの消費量は118.3キロだった。その後は、坂道を転げ落ちるように減少し、2016年度には半減以下の54.4キロとなった。62年度はご飯を1日に5.4杯（1杯精米で60グラム換算）食べていたが、16年度は2.5杯しか食べなくなった計算だ。各地の農業試験場では品種改良を重ね、食味や食感にこだわった新ブランドのおコメが続々デビューしているが、消費者のコメ離れには歯止めがかからない。
      </div>
      <%=image_tag "rice.png",class:"rice-image"%>
      <div class="text">
      コメを食べなくなった一方で、油脂類や肉類、牛乳・乳製品の消費は増えている。コメと同じように62年度と16年度を比べると、油脂類が5.3キロから14.2キロと2.7倍、肉類は7.6キロから31.6キロと4.2倍、牛乳・乳製品が28.4キロから91.3キロと3.2倍となっている。コメ離れの原因はこうした食生活の西欧化に加えて、高齢化で食が細くなる人が増えていることや、人口減などさまざまな要因が組み合わさっている。近年では、「太らないためには、炭水化物は取らない方が良い」といった糖質オフダイエットブームも起こっている。農林水産省が14年度にまとめた「主食用米消費動向の中期的変化及びその要因分析調査」では、夕食にご飯類以外を選ぶ理由として「いろいろな種類の主食を食べたいから」が約半数を占めた。一方、時間に追われる朝は、特に「短時間で食べられる」「準備や片付けに時間がかからない」などの理由でご飯以外の主食を選ぶ傾向にあった。総務省の「家計調査」（2人以上世帯）によると、2011年に一般家庭の食料品への支出額で、初めてパンがコメを上回った。2012年はわずかにコメが再逆転したものの、2013年以降、パンへの支出が上回る状態が続いている。和食は13年に国連教育科学文化機関（ユネスコ）の無形文化遺産に登録され、海外では「健康的な食事」として人気が高まっている。当の日本人が和食の価値を一番、分かっていないのかもしれない。
      </div>
    </div>
  </div>
</div>
<%=render "shared/footer"%>