<%=render "shared/header"%>
<%=render "shared/second_header"%>
<div class="main">
  <div class="question-contents">
    <h2 class="title">毎日お米を食べよう！</h2>
    <ul class="question-lists">
      <li class="left-list"><%=image_tag"question2.jpg",class:"list-pict"%></li>
      <li class="right-list"><%=image_tag"question4.jpg",class:"list-pict"%></li>
      
    </ul>
  </div>
  <div class="new-info">
    <h2 class="info">令和２年度 新米速報</h2>
      <ul class="messages">
        <li class="message">
        <div class="date">2020.10.1</div>
        <div>新米出荷しました</div>
        </li>
        <li class="message">
        <div class="date">2020.10.1</div>
        <div>新米出荷しました</div>
        </li>
        <li class="message">
        <div class="date">2020.10.1</div>
        <div>新米出荷しました</div>
        </li>
        <li class="message">
        <div class="date">2020.10.1</div>
        <div>新米出荷しました</div>
        </li>
      </ul>
  </div>
  <div class="category">
    <div classa="left-contents">
      <div class="topic-title"><h2>トピック</h2>
        <ul >
          <li class="colum">
          <%= link_to("このサイトについて書く","#",class: "colum-link")%>
          </li>
          <li class="colum">
          <%= link_to("日本のお米事情","#",class: "colum-link")%>
          </li>
          <li class="colum">
          <%= link_to("生産者","#",class: "colum-link")%>
          </li>
        </ul>
      </div>
      <div class="category-title"><h2>商品一覧</h2>
        <ul >
            <li class="colum">
            <%= link_to("白米","#",class: "colum-link")%>
            </li>
            <li class="colum">
            <%= link_to("玄米","#",class: "colum-link")%>
            </li>
            <li class="colum">
            <%= link_to("もち米","#",class: "colum-link")%>
            </li>
            <li class="colum">
            <%= link_to("酒粕","#",class: "colum-link")%>
            </li>
          </ul>
        </div>
    </div>
   <div class="right-contens">
    <h2 class="popularity-index">新着商品</h2>
    <ul class="item-lists">
      <% @items.each do |item|%>
        <li class="list"><%=link_to item_path(item.id) do%>
          <div class="item-img-content">
          <%=image_tag item.image,class:"item-img"%>
        </div>
        <%end%>
        <div class="item-info">
          <div class="item-name">【商品名】<%=item.name%></div>
          <div class="item-prefecture">
            【生産地】<%=item.prefecture.name%>産
          </div>
          <div class="item-manufacturer">
            【生産者】<%=item.manufacturer%>
          </div>
          <div class="item-internal-capacity">
            【内容量】<%=item.internal_capacity%>
          </div>
          <div class="item-price">
            【販売価格】<%=item.price%>円(送料込み)
        </div>
       </div>
      </li>
     <%end%>
    </ul>
   </div>
  </div>
</div>