<!DOCTYPE html>
<html>
  <head>
    <title>Ec</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<script type="text/javascript" src="https://js.pay.jp/v1/"></script>
    <%= stylesheet_link_tag 'application', media: 'all'  %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
  <div class="back-img">
  <header>
  <div class="heading">
    <%=link_to"title","/",class:"heading-title"%>
  </div>
  <div class="navbar">
    <ul class="nav-lists">
    <%if user_signed_in? %>
      <li><%=link_to "#{current_user.first_name}様","#",class:"user-name"%></li>
      <li><%=link_to "ログアウト",destroy_user_session_path, method: :delete,class:"logout"%></li>
      <% if current_user.admin? %>
      <li><%=link_to "出品する",new_item_path,class: "exhibit"%></li>
        <% end %>
      <%else%>
      <li><%=link_to "ログイン",new_user_session_path,class:"login"%></li>
      <li><%=link_to "新規登録",new_user_registration_path,class:"sign-up"%></li>
    <%end%>
    </ul>
  </div>

</header>
    <%= yield %>
    <footer>
    </footer>
    </div>
  </body>
</html>
